    <!DOCTYPE html>
    <html data-bs-theme='dark'>
    <head>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>
        <title>Today Helper</title>

        <style>
           body {
                background-color:black;
                font-size:larger;
           }
           div {
                color:lightgreen;
            }

            input {
                color:greenyellow;
            }
            p {
                color:greenyellow;
                font-size:20px;
                font-family:'Courier New', Courier, monospace;
            }
        
        </style>

    <script>
        lat=null
        lon=null
        forecaststring=null
        airesult=null

        
        function showLoading(message) {
            const loading = document.getElementById('loading');
            loading.innerHTML = `${message} <img src="/static/loader.gif" style='height:50px;width:38px;'></img>`;
            loading.style.display = 'block';
        }

        function hideLoading() {
            document.getElementById('loading').style.display = 'none';
        }


        function runprogram() {
            document.getElementById('coordinates').innerText =  '';
            document.getElementById('weatherforecast').innerText =  '';
            document.getElementById('airesponse').innerText =  '';
            document.getElementById('musicresponse').innerText =  '';






            const inputlocation = document.getElementById('inputlocation').value;
            showLoading('Laddar koordinater för platsen')

            fetch(`/api/fetchcoordinates?inputlocation=${inputlocation}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('coordinates').innerText =  data.coordinatesstring;
                    lat = data.lat;
                    lon = data.lon;
                    hideLoading();
                    fetchweather() 
                })
                .catch(error => {
                    document.getElementById('coordinates').innerText = 'Fel: ' + error;
                    hideLoading();
                });
        }

        function fetchweather() {
            showLoading('Laddar väderprognos')
            const inputlocation = document.getElementById('inputlocation').value;

            fetch(`/api/fetchforecast?inputlocation=${inputlocation}&lat=${lat}&lon=${lon}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('weatherforecast').innerText =  data.forecaststring;
                    forecaststring = data.forecaststring;  
                    hideLoading();
                    airesponse();               
                })
                .catch(error => {
                    document.getElementById('weatherforecast').innerText = 'Fel: ' + error;
                    document.getElementById("loading").style.display = "none";
                });
        }

        function airesponse() {
            showLoading('Laddar AI-svar')
            const mood = document.getElementById('mood').value;
            const music = document.getElementById('music').value;
            const inputlocation = document.getElementById('inputlocation').value;
    

            fetch(`/api/askai?forecaststring=${forecaststring}&mood=${mood}&music=${music}&inputlocation=${inputlocation}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('airesponse').innerText = data.airesult; 
                    airesult = data.airesult; 
                    hideLoading();       
                    document.getElementById('fetchmusic').style.display = 'block';
                    //fetchmusic();            
                })
                .catch(error => {
                    document.getElementById('airesponse').innerText = 'Fel: ' + error;
                    document.getElementById("loading").style.display = "none";
                    hideLoading();
                });
        }




        function fetchmusic() {
            document.getElementById('fetchmusic').style.display = 'none';
            const music = document.getElementById('music').value;
            const inputlocation = document.getElementById('inputlocation').value;
            showLoading('Genererar en låt! Det kan ta några minuter!')

            fetch(`/api/music?airesult=${airesult}&music=${music}&inputlocation=${inputlocation}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('musicresponse').innerHTML = `<A HREF='${data.fetchmusic}' TARGET='_blank' style='color:rgb(175, 255, 56);font-weight:bolder;'>Tryck här för att lyssna på genererad låt!</A> `; 
                    hideLoading();                   
                })
                .catch(error => {
                    document.getElementById('musicresponse').innerText = 'Fel: ' + error;
                    document.getElementById("loading").style.display = "none";
                    hideLoading();
                });
        }
    </script>

    </head>
    <body>

    <div class='form-group' style='width:75%;margin-top:150px;margin-left:auto;margin-right:auto;'>
        <!--<h1 class='mb-4' style='font-family:Courier New, Courier, monospace;font-weight:bold;'>Todayhelper</h1> -->
        <input class='form-control form-control-lg' style='background-color:black' type='text' id='inputlocation' placeholder='Skriv en plats - t.ex Hollywood, Jokkmokk, Cape Town'><br><br>
        <input class='form-control form-control-lg' style='background-color:black' type='text' id='mood' placeholder='Idag känner jag mig - t.ex Glad, ölsugen, äventyrlig'><br><br>
        <input class='form-control form-control-lg' style='background-color:black' type='text' id='music' placeholder='Idag vill jag lyssna på - t.ex Dansband, Black metal, Old School Hip Hop'><br><br>
        <button class='btn btn-outline-success btn-lg' onclick='runprogram()'>Kör!</button>
    </div>

    <div id='textbox' class='w-75 p-3' style='width:75%;margin-left:auto;margin-right:auto;background-color:black;font-size:large;'>
        <p id='coordinates' style='color:rgb(95, 141, 26)'></p>
        <p id='weatherforecast' style='color:rgb(124, 184, 35)'></p>
        <p id='airesponse' style='color:rgb(167, 246, 47)'></p>
        <p id='musicresponse' style='color:rgb(175, 255, 56);font-weight:bolder;'></p>
        <button id='fetchmusic' class='btn btn-outline-success btn-lg' style='display:none' onclick='fetchmusic()'>Generera en låt!</button>
        <p id='loading' style='display:none;color:greenyellow;font-weight:bolder;'></p>
    </div>
    </body>


    
